@import url("https://fonts.googleapis.com/css?family=Montserrat");
.container {
  margin: 0;
  display: grid;
  background-image: url("http://akveo.com/blur-admin/assets/img/blur-bg-blurred.jpg");
  width: 100vw;
  height: 100vh;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  position: absolute;
}
div {
  border: 1px solid rgba(29, 23, 23, 0.274);
}
.demographs {
  display: grid;
  grid-template-columns: 50% 50%;
}
.emotions,
.gender,
.views,
.cards {
  display: grid;
  grid-template-rows: 20% 80%;
}
.content-seven {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.content-gender {
  display: grid;
  /* background: red; */
  grid-template-columns: 30% 40% 30%;
}
.header {
  display: flex;
  align-items: center;
}
.header h1 {
  color: white;
  opacity: 0.8;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin-left: 2rem;
  font-size: 1.5rem;
}
.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 2rem;
}
.item1,.item2,.item3,.item4,.item5,.item6,.item7 {

  display: grid;
  grid-template-rows: 20% 80%;
}
.fill-happy {
  background: rgb(40, 216, 178);
  overflow: hidden;
}
.fill-exiting {
  background: rgb(40, 216, 178);
  overflow: hidden;
}
.male {
  display: grid;
grid-template-rows: 20% 80%;
font-family: "Montserrat", sans-serif;
font-weight: 300;
color: white;
opacity: 0.8;

}
.female {
  display: grid;
grid-template-rows: 20% 80%;
font-family: "Montserrat", sans-serif;
font-weight: 300;
color: white;
opacity: 0.8;
}
.male h3,.female h3 {
 width: 100%;
 text-align: center;
}

.male h1,.female h1 {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  z-index: 5;
 }
 .days div h1{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: white;
  opacity: 0.5;
  font-size: 1.2rem;
  margin-left: 5%;

 }
 .days div h3{
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-left: 5%;

 }
 .lol {
   position: absolute;
z-index: 1!important;
 }
 .friday{
  box-shadow: 5px 5px 30px 0px;
 }
.recharts-wrapper {
   position: absolute!important;
 }
 .fill-anger {
   background: rgb(40, 216, 178);
  box-shadow: 5px 5px 30px 0px;
 }